*{
    padding: 0;
    margin: 0;
    text-align: center;
}

header{
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: rgb(250, 250, 250);
}

.home-button{
    color: rgb(0, 0, 0);
}

.header-right{
    width: 500px;
    height: 100%;
    float: right;
    margin-top: 30px;
}

.header-button1{
    width: 150px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
}

.header-button1:hover{
    opacity: 0.6;
    transition: all 0.2s;
}

.header-button2{
    width: 150px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 10px;
}

.header-button2:hover{
    opacity: 0.6;
    transition: all 0.2s;
}

.header-link0{
    display: block;
    float: left;
    width: 150px;
    height: 60px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.header-link0:hover{
    opacity: 0.6;
    transition: all 0.2s;
}

.header-link1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.header-link2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.header-button-logout{
    width: 150px;
    height: 60px;
    float: left;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
}

.header-button-logout:hover{
    opacity: 0.6;
    transition: all 0.2s;
}