*{
    text-align: center;
}

.mypage-wrapper{
    padding-top: 220px;
}

.mypage-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.mypage-username{
    font-size: 18px;
    font-weight: 300;
}

.mypage-username2{
    font-size: 35px;
    margin-bottom: 30px;
}

.mypage-edit-link{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-bottom: 50px;
}

.mypage-edit-link:hover{
    opacity: 0.7;
    transition: all 0.2s;
}

.mypage-edit-button{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 20px;
}

.mypage-cart-link{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-bottom: 50px;
}

.mypage-cart-link:hover{
    opacity: 0.7;
    transition: all 0.2s;
}

.mypage-cart-button{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 20px;
}

.mypage-edit-form{
    width: 60%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.mypage-email{
    font-size: 18px;
    font-weight: 300;
}

.mypage-email2{
    font-size: 35px;
    margin-bottom: 30px;
}

.mypage-edit-button{
    display: block;
    width: 80px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    padding-top: 0px;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.mypage-edit-button:hover{
    opacity: 0.7;
    transition: all 0.2s;
}

