.signup-wrapper{
    padding-top: 220px;
}

.signup-page-title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.signup-form{
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.signup-form-username, .signup-form-email, .signup-form-password, .signup-form-password-confirm{
  width: 100%;
  height: 20px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 60px;
}

.signup-form-submit{
  width: 200px;
  margin: 0 auto;
}

/***********************************/
@media screen and (max-width: 480px) {
  .signup-form{
    width: 80%;
  }

  .signup-form-username, .signup-form-email, .signup-form-password, .signup-form-password-confirm{
    padding-left: 0px;
  }
}