.top-wrapper {
    padding-top: 220px;
}

.top-events-link{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.top-events-link:hover{
    opacity: 0.7;
    transition: all 0.2s;
}

.top-events-button{
    color: rgba(255, 255, 255, 0.8);
    padding-top: 35px;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
}


.top-link{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(240, 240, 240, 0.8);
    text-decoration: none;
    margin-top: 30px;
}

.top-link:hover{
    opacity: 0.7;
    transition: all 0.2s;
}

.top-button{
    color: rgba(0, 0, 0, 0.8);
    padding-top: 35px;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
}